ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* FOOTER */
footer .footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.subscribe {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.footer-subscribe h4 {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.footer-subscribe p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.enter-email form {
    display: flex;
}

.enter-email form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eeeeee;
}

.enter-email form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.studious-footer {
    margin-top: 120px;
}

.sub-two-right h6,
.sub-one-left h6 {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.sub-two-right ul li {
    list-style: none;
}

.sub-two-right ul li a {
    position: relative;
    padding-left: 14px;
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}

.sub-two-right ul li a:before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 13px;
    color: #ffffff;
}

.sub-one-left span {
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.sub-one-left a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.sub-one-left p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.sub-one-left div.href1,
.sub-one-left div.href2,
.sub-one-left p {
    margin-top: 10px;
}

.ab-right-cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.columns-2 {
    margin-top: 1.2em;
}

ul.social li {
    display: inline-block;
    margin-right: 5px;
}

ul.social li a {
    color: #ffffff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

ul.social li a span {
    font-size: 15px;
    line-height: 35px;
}

.copyright-footer {
    background: #040a17;
    padding: 20px 0;
}

p.copyrights {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}

p.copyrights a {
    color: #ffffff;
}

/* MAIN */
#main {
    background-image: url("../../img/404-page/error.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 70px 0px;
    display: flex;
    align-items: center;
}

#main::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 62%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

#main h2 {
    font-size: 160px;
    color: #ffffff;
    line-height: 1;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#main h1 {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
}

.error-404 {
    max-width: 500px;
}

.page-content {
    margin: 1.5em 0 0;
}

.page-content form {
    position: relative;
}

.page-content form input {
    appearance: none;
    padding: 10px 58px 10px 20px;
    font-size: 16px;
    color: #060606;
    border: 2px solid rgb(255 255 255 / 29%);
    border-radius: 35px;
    background: #ffffff;
    line-height: 36px;
    width: calc(100% - 40px);
    margin: auto;
}

.page-content form button {
    border: none;
    color: #ff6e65;
    line-height: 1;
    background: none;
    position: absolute;
    right: 10%;
    padding: 18px 18px;
    font-size: 16px;
}

.page-content a {
    background: none;
    border-radius: 35px;
    color: #eeeeee;
    margin-top: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .container {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1279px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 440px) {
    .subscribe {
        padding: 40px;
    }

    .footer-subscribe {
        padding: 0;
    }

    .footer-subscribe h4 {
        margin-bottom: 10px;
    }

    .enter-email form {
        flex-wrap: wrap;
    }

    .enter-email form input {
        border-radius: 4px;
    }

    .enter-email form button {
        padding: 15px 30px;
        border-radius: 4px;
        width: 100%;
        margin-top: 1em;
    }

    .studious-footer {
        margin-top: 240px;
    }

    #main h2 {
        font-size: 120px;
    }
}

@media (max-width: 568px) and (min-width: 441px) {
    .studious-footer {
        margin-top: 100px;
    }

    #main h2 {
        font-size: 150px;
        line-height: .7;
    }
}


@media (max-width: 768px) {
    .subscribe {
        top: -78px;
    }

    .footer-subscribe {
        max-width: 100%;
    }
}

@media (max-width: 768px) and (min-width: 569px) {
    .enter-email form button {
        width: 30%;
    }

    .studious-footer {
        margin-top: 150px;
    }
}

@media (max-width: 790px) and (min-width: 769px) {
    .studious-footer {
        margin-top: 120px;
    }
}

@media (max-width: 800px) and (min-width: 791px) {
    .studious-footer {
        margin-top: 60px;
    }
}

@media (max-width: 568px) {
    .text-txt {
        grid-gap: 40px;
    }
}

@media (max-width: 991px) {
    .text-txt {
        grid-template-columns: 1fr;
    }

    .ab-right-cont {
        border-left: none;
    }
}

@media (max-width: 1080px) {
    .text-txt {
        grid-gap: 50px;
    }
}

@media (max-width: 736px) {
    .footer-sub {
        padding: 40px 0 !important;
    }

    .sub-two-right h6,
    .sub-one-left h6 {
        margin-bottom: 10px;
        padding-bottom: 7px;
    }
}

@media (max-width: 568px) {
    .footer-sub {
        margin-top: 1em;
    }
}

@media (max-width: 736px) and (min-width: 569px) {
    .footer-sub {
        margin-top: 2em;
    }
}