.questions .question_content{
    margin: 150px;
}
.questions .question_content .row{
    justify-content: space-between;
    align-items: stretch;
}

.questions .question_content .question_left{
    width: 40%;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

.questions .question_content .question_left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.questions .question_content .question_right{
    width: 55%;
    padding: 0;
}

.questions .question_content .question_right form, .questions .question_content .question_right form div{
    height: 100%;
}

.questions .question_content .question_right .form-control{
    margin-bottom: 20px;
    color: rgba(239, 232, 232, 0.2);
    background-color: rgba(253, 246, 246, 0.554);
    padding: 20px;
    color: black;
}


.questions .question_content .question_right .form-control:focus{
    border-color: rgba(255, 0, 0, 0.751);
}

.questions .question_content .question_right #message{
    height: 45%;
}

.questions .question_content .question_right button{
    background-color: rgba(255, 0, 0, 0.751);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
}


